.logo{
    width: auto;
    height: 44px;
}
.searchbar{
    height: 40px;
    width: 700px;
}
.welcome{
    width: 100%;
}
.wel_msg{
    width: 700px;
    font-size: 60px;
    letter-spacing: 15px;
    border-radius: 10px;
}