.logo{
    width: auto;
    height: 44px;
}
.searchbar{
    height: 40px;
    width: 700px;
}
.welcome{
    width: 100%;
}
.wel_msg{
    width: 700px;
    font-size: 60px;
    letter-spacing: 15px;
    border-radius: 10px;
}
#neubar {
    background: #fae8d2;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
  }
  
  .nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #21d42a, #08a110);
    box-shadow:  4px 4px 8px #d40d7b,
                 -4px -4px 8px #e99219;
  }
  #neubar .dropdown-menu a:hover {
    color: #454545
  }
  #neubar .nav-item {
    margin : auto 4px;
  }
  #neubar a {
    padding-left:12px;
    padding-right:12px;
  }
  #neubar .dropdown-menu {
    background : #545454
  }